<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body >
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-sm">
    <div class="card">
        <div class="card-header">
            <h2>Descuentos</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Rut empleado</th>
                    <th>Cantidad descuentos de 1%</th>
                    <th>Cantidad descuentos de 3%</th>
                    <th>Cantidad descuentos de 6%</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="descuento:${descuentos}">
                    <td th:text="${descuento.id}"></td>
                    <td th:text="${descuento.rut}"></td>
                    <td th:text="${descuento.desc10}"></td>
                    <td th:text="${descuento.desc25}"></td>
                    <td th:text="${descuento.desc45}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-primary" role="button">Volver</a>
        </div>
    </div>
</div>
</body>
</html>
