<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inasistencias</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
  <form action="#" th:action="@{/horas_extras/guardar}" class="form-group" th:object=${horaExtra} enctype="multipart/form-data" method="POST">
    <div class="card">
      <div class="card-header">
        <h2>Modulo de horas extra</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>ID</label>
          <input type="text" class="form-control" th:field="*{id}" readonly>
        </div>
        <div class="form-group">
          <label>ID Empleado</label>
          <input type="text" class="form-control" th:field="*{idEmpleado}" required>
        </div>
        <div class="form-group">
          <label>Rut</label>
          <input type="text" class="form-control" th:field="*{rut}" placeholder="Sin puntos y con guión" required>
        </div>
        <div class="form-group">
          <label>Cantidad de horas</label>
          <input type="number" class="form-control" th:field="*{cantidadHoras}" required>
        </div>
        <div class="form-group">
          <label>Autorizada</label>
          <select class="form-control" th:field="*{autorizada}" required>
            <option value=0>No Autorizada</option>
            <option value=1>Autorizada</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <input type="submit" value="Guardar" class="btn btn-success">
        <a href="/horas_extras/listar" class="btn btn-primary" role="button">Volver</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>