<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body >
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-sm">
    <div class="card">
        <div class="card-header">
            <h2>Horas Extra</h2>
            <a th:href="@{/horas_extras/upload}" class="btn btn-primary" role="button">Calcular horas extra</a>
            <a class="btn btn-primary" href="/horas_extras/nuevo" role="button">Crear</a>
            <a th:href="@{/horas_extras/upload}" class="btn btn-primary" role="button">Agregar Autorización</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Rut empleado</th>
                    <th>Cantidad horas</th>
                    <th>Cantidad Minutos</th>
                    <th>Autorizadas</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="horaExtra:${horasExtras}">
                    <td th:text="${horaExtra.id}"></td>
                    <td th:text="${horaExtra.rut}"></td>
                    <td th:text="${horaExtra.cantidadHoras}"></td>
                    <td th:text="${horaExtra.cantidadMinutos}"></td>
                    <td th:text="${horaExtra.autorizada}"></td>
                    <td>
                        <a th:href="@{/horas_extras/editar/{id}(id = ${horaExtra.id})}" class="btn btn-primary" role="button">Editar</a>
                        <a th:href="@{/horas_extras/eliminar/{id}(id = ${horaExtra.id})}" class="btn btn-danger" role="button">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-primary" role="button">Volver</a>
        </div>
    </div>
</div>
</body>
</html>
